@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/assets/banner.jpg" class="img-fluid" style="height: 50vh; width: 100%; object-fit: cover" alt="Banner Image">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="~/assets/banner.jpg" class="img-fluid card-img-top" alt="product image" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/assets/banner.jpg" class="img-fluid card-img-top" alt="product image" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/assets/banner.jpg" class="img-fluid card-img-top" alt="product image" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-dark text-light mt-4 mb-4">
        <div class="col-md-4">
            <div class="card bg-dark">
                <div class="card-body">
                    <h3 class="card-title">About Us</h3>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark">
                <div class="card-body">
                    <h3 class="card-title">Contact Us</h3>
                    <form action="/" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" placeholder="Name" name="name" />
                        </div> 
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" type="email" placeholder="Email" name="email" />
                        </div> 
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" placeholder="Leave a message" name="message"></textarea>                         
                        </div> 
                        <div>
                            <button class="btn btn-primary"  type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark">
                <div class="card-body">
                    <h3 class="card-title">About Us</h3>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
